<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.as.filesearch.mapper.AdminAreaEntityMapper" >
  <resultMap id="BaseResultMap" type="com.as.filesearch.entity.AdminAreaEntity" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="IS_ACTIVE" property="isActive" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, PARENT_ID, IS_ACTIVE
  </sql>
  <!-- 取分页数据 -->
  <select id="selectAll" resultMap="BaseResultMap"
	parameterType="java.util.Map">
	select
	<include refid="Base_Column_List" />
	from c_admin_area
	order by id
  </select>

  <select id="selectAllByPagination" resultMap="BaseResultMap"
	parameterType="java.util.Map">
	select
	<include refid="Base_Column_List" />
	from c_admin_area
	<trim prefix="WHERE" prefixOverrides="AND|OR">
		<if test="isActive != null and isActive != '' ">
			is_active = '1'
		</if>
		<if test="name != null and name != '' ">
			AND name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
		</if>
	</trim>
	order by id
	limit
	#{startNum,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <!-- 取查询总数 -->
  <select id="selectAllCount" resultType="java.lang.Integer"
	parameterType="java.util.Map">
	select count(*)
	from c_admin_area 
	<trim prefix="WHERE" prefixOverrides="AND|OR">
		<if test="isActive != null and isActive != '' ">
			is_active = '1'
		</if>
		<if test="name != null and name != '' ">
			AND name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
		</if>
	</trim>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from c_admin_area
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from c_admin_area
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.as.filesearch.entity.AdminAreaEntity" >
    insert into c_admin_area (ID, NAME, PARENT_ID, 
      IS_ACTIVE)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{isActive,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.as.filesearch.entity.AdminAreaEntity" >
    insert into c_admin_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="isActive != null" >
        IS_ACTIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.as.filesearch.entity.AdminAreaEntity" >
    update c_admin_area
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        IS_ACTIVE = #{isActive,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.as.filesearch.entity.AdminAreaEntity" >
    update c_admin_area
    set NAME = #{name,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      IS_ACTIVE = #{isActive,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>